/* body styles */
body{
    background-color: aliceblue !important;
}

.container{
    background-color: white;
    box-shadow: 0px 9px 9px 0px white, 0px -9px 0px 0px white,
                12px 0px 15px -4px #6c757d73, -12px 0px 15px -4px #6c757d73
}

#vickyImg{
    border-radius: 25px;
}