/** Final layout
CSS layout for form.
Company name: Coneybeare Cleantech
@author : JDPR
Software Development student, Green River College
 */

hr{
    border: 1px solid forestgreen;
}
.formbody{
    background-color: white;

}
body{
    background-image: url('/images/rowOfLightbulbs.jpg');
    background-size: cover;
    background-attachment: fixed;
}
#theform{
    border-radius: 0;
}

#sub:hover {
    background-color: lightgreen;

}

.toplogo{
    display: block;
    margin-left: 0;
    margin-right: auto;
    width: 35%;
}
/* Submit Button color */

.btn-primary{
    background-color: forestgreen !important;
    border-color: black !important;
}

/* This makes the input field red if it is missing value before submitting the form */
input:required:focus {
    border: 1px solid forestgreen;
    outline: none;
    opacity: 1;
}
/* Declaration of grid area using class name */

/* Business information fieldset*/
#binfo{
    grid-area: businessInfo;
    /*border: 2px solid forestgreen;*/

}
/* About Company fieldset */
#about{

    grid-area: aboutCompany;
    /*border: 2px solid forestgreen;*/

}
/* Coneybeare Logo */
.logo{
    grid-area: logoImage;
    padding: 5px;
    margin-top: 15px;

}

/* form tag setting display as grid */

input#city,input#state, label#state{
    display: block;
}

/* Submit button (used id on this) */
#sub{
    grid-area: buttn;
    margin-left: auto;
    margin-right: auto;
    width: 15% !important;
    border: none;
    /*color: white;*/
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24px;
    /*background-color: forestgreen;*/
}
label{
    font-weight: normal!important;
}
.disla{
    font-size: 1.5rem!important;
}

/*Aligning text in legend in center */
legend{
    align-content: center;
    text-align: center;

}
#personalInfo{
    grid-area: pinfo;
    margin-bottom: 0;
}


/* Media screen for laptop and desktop screen */
@media only screen and (min-width: 1025px) {

    /* button setting for laptop and desktop screen */
    #sub{

        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%!important;
        background-color: cornflowerblue;
        margin-bottom: 1rem;


    }
    legend{
        font-size: 3rem;
    }

    .logo{
        display: block;
        margin-left: 2rem;
        margin-right: -15rem;
        margin-top: 5rem;
        width: 80%;

    }

    #aboutOrg{
        height: 68%;
    }


}

/* Media screen or mobile */
@media only screen and (max-width: 700px) {

    #sub{

        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50% !important;
        padding: 5px 2px;
        background-color: cornflowerblue;


    }

}

/*to make the body same as other pages for the company */
.container{
    max-width: 1110px;
    border-radius: 5px;
}

@media (max-width: 1199px){
    .container{
        max-width: 930px;
    }
}

@media (max-width: 991px){
    .container{
        max-width: 690px;
    }
}

@media (max-width: 768px){
    .container{
        max-width: 510px;
    }
}
