/*
headerstyles.html
Team JDPR (Jake Gerard, David Boone, Phillip Ball, Raju Shrestha)
01/30/2021
This is for the header for Coneybeare Cleantech
*/

header{
    background-color: #f8f9fa;
    width: 1110px;
    margin: auto;
}

#coneybeareIcon{
    width: 90px;
    height: auto;
    margin: 5px;
}
#coneybeareLogoBig h1{
    font-weight: bold;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

#logoTitleTagline{
    background-color: white;
    margin-left: 0;
}

.nav-link:hover{
    font-weight: bold;
}

#tagline{
    color: forestgreen;
}

#titleIconAnchor, coneybeareLogo{
    max-width: max-content!important;
}

@media only screen and (min-width: 992px){
    #coneybeareLogoBig{
        display: block!important;
    }
}

@media only screen and (min-width: 445px) and (max-width: 991px){
    #coneybeareLogo{
        display: block!important;
    }
    header{
        width:100%;
    }
}

@media only screen and (max-width: 444px){
    #coneybeareLogoTiny{
        display: block!important;
        font-weight: bold;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    }
    header{
        width:100%;
    }
}

#headerSearchForm, #headerSearchBar{
    width: 100%;
}